.myText {
    color: rgb(97, 96, 96);          /* สีข้อความ */
    font-size: 58px;      /* ขนาดตัวอักษร */
    text-align: center;   /* จัดกึ่งกลาง */

    
    
}

body {
    background: #000000; /* สีดำสนิท */
    color: #ffffff;      /* ตัวอักษรสีขาวเพื่อให้อ่านง่าย */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 40px;
    text-align: center;
}